.places {
    margin: auto;
    padding-top: 92px;
    padding-bottom: 92px;
    width: 90.625vw;
    max-width: 984px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1023px) {
    .places {
        width: 93.75vw;
        max-width: 928px;
        padding-top: 88px;
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 767px) {
    .places {
        width: 90vw;
        max-width: 720px;
        padding-top: 64px;
        padding-bottom: 66px;
    }
}
@media screen and (max-width: 611px) {
    .places {
        width: 100vw;
    }
}