.page__header {
    margin: 28px auto;
    padding: 0 48px;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 1023px) {
    .page__header {
        padding: 0 24px;
    }
}
@media screen and (max-width: 767px) {
    .page__header {
        margin-top: 16px;
        padding: 0 16px;
    }
}